
{% extends 'base.html' %}

{% block body %}

    {{ session }}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>

        <tbody>
        
        <!-- for-loop starts here -->
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
        <!-- for-loop ends here -->

        </tbody>
    </table>

    <h3>Total: {{ total }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
